<div class="ui basic segment">
  {{cuppa-search-bar}}
</div>
<div class="ui basic segment">
  <button onclick={{route-action "openModal" "new-instructor"}} class="ui blue right floated button">
    <i class="plus icon"></i>
    Create New
    </button>
</div>
<div class="ui basic segment">
  <div class="ui link cards">
    {{#each model as |instructor|}}
      {{cuppa-instructor-card
          firstName=instructor.firstName
          middleName=instructor.middleName
          lastName=instructor.lastName
          createdAt=instructor.createdAt
      }}
    {{/each}}
  </div>
</div>
{{#if newInstructor}}
  {{cuppa-create-instructor-modal data=newInstructor onSave=(route-action 'createInstructor')}}
{{/if}}

{{outlet}}
