<button class="ui icon button" {{action 'prevPage'}}>
  <i class="left arrow icon"></i>
</button>

{{#each paginateButtons as |btn|}}
  <button {{action 'activatePage' btn.value}} class="ui button {{if (eq btn.lbl activeBtn) 'active'}}">{{btn.lbl}}</button>
{{/each}}
<button class="ui icon button" {{action 'nextPage'}}>
  <i class="right arrow icon"></i>
</button>
