{{#unless newItem}}
  <button onclick={{route-action "createNew" "course"}} class="fluid ui button"><i class="plus icon"></i> Add Course</button>
  {{#each model.courses as |course|}}
    {{#cuppa-removable-container onRemove=(route-action "remove" course)}}
      <div class="item">
        <div class="content">
          <h2 class="header">{{course.name}} ({{course.level}})</h2>
          <div class="description">
            Class Size: {{course.classSize}}<br />
            From: {{moment-format course.startDate "YYYY-MM-DD"}}<br />
            To: {{if course.endDate (moment-format course.endDate "YYYY-MM-DD") "Still Active"}}
          </div>
        </div>
      </div>
    {{/cuppa-removable-container}}
  {{/each}}
{{else}}
  {{#cuppa-form onSubmit=(route-action "save") changeset=(changeset newItem CourseValidations) as |form|}}
    <div class="fields">
      <div class="required ten wide field">
        <label>Name</label>
        {{input type="text" value=form.changeset.name}}
      </div>
      <div class="required three wide field">
        <label>Level</label>
        {{input type="text" value=form.changeset.level}}
      </div>
      <div class="required three wide field">
        <label>Class Size</label>
        {{input type="text" value=form.changeset.classSize}}
      </div>
    </div>
    <div class="fields">
      <div class="required eight wide field">
        <label>Start Date</label>
        {{pikaday-input onSelection=(action "setDate" form.changeset "startDate") format="YYYY-MM-DD"}}
      </div>
      <div class="eight wide field">
        <label>End Date</label>
        {{pikaday-input onSelection=(action "setDate" form.changeset "endDate") format="YYYY-MM-DD"}}
      </div>
    </div>
  {{/cuppa-form}}
{{/unless}}