<div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img src="https://cdn2.iconfinder.com/data/icons/avatar-profile/449/avatar_user_default_contact_profile_male-512.png" alt="">
    </div>
    <div class="content">
      <div class="header">{{model.firstName}} {{model.middleName}} {{model.lastName}}</div>
      <div class="description">
        {{#cuppa-list}}
          {{#each listItems as |item|}}
            {{#cuppa-list-item}}
              <i class="{{get item 'icon'}} icon"></i>
              {{get item 'text'}} | {{get item 'count'}}
            {{/cuppa-list-item}}
          {{/each}}
        {{/cuppa-list}}
        <p>A brief description about this instructor</p>
      </div>
    </div>
  </div>
</div>